In [1]:
classroom_stats = pd.read_csv('../data/classroom_stats.csv')

In [10]:
hearts = pd.read_csv('../data_june/health_checks.csv')
classrooms_merged = pd.read_csv('../data_january/classrooms_merged.csv')
hearts['date'] = pd.to_datetime(hearts['date'], errors='coerce')
hearts

[autoreload of autoregression.autoregression failed: Traceback (most recent call last):
  File "/Users/macbookpro/anaconda3/lib/python3.6/site-packages/IPython/extensions/autoreload.py", line 246, in check
    superreload(m, reload, self.old_objects)
  File "/Users/macbookpro/anaconda3/lib/python3.6/site-packages/IPython/extensions/autoreload.py", line 369, in superreload
    module = reload(module)
  File "/Users/macbookpro/anaconda3/lib/python3.6/imp.py", line 315, in reload
    return importlib.reload(module)
  File "/Users/macbookpro/anaconda3/lib/python3.6/importlib/__init__.py", line 166, in reload
    _bootstrap._exec(spec, module)
  File "<frozen importlib._bootstrap>", line 618, in _exec
  File "<frozen importlib._bootstrap_external>", line 678, in exec_module
  File "<frozen importlib._bootstrap>", line 219, in _call_with_frames_removed
  File "/Users/macbookpro/Dropbox/Galvanize/autoregression/autoregression/autoregression.py", line 52, in <module>
    from autoregression.galgraphs import sort_features
ImportError: cannot import name 'sort_features'
]

,school_id,classroom_id,date,score,record_keeping_quantity_1,record_keeping_quantity_2,record_keeping_frequency_1,record_keeping_frequency_2,record_keeping_usage,record_keeping_observations,record_keeping_consistency
0,58,133,2017-03-14,0,f,f,f,f,f,f,f
1,392,1201,2017-03-14,3,t,f,t,f,f,f,t
2,463,1427,2017-03-14,0,f,f,f,f,f,f,f
3,463,1431,2017-03-14,0,f,f,f,f,f,f,f
4,52,116,2017-03-14,3,t,f,t,f,f,f,t
5,52,119,2017-03-14,4,t,f,t,t,f,f,t
6,52,117,2017-03-14,3,t,f,t,f,f,f,t
7,52,118,2017-03-14,2,f,f,t,f,f,f,t
8,52,120,2017-03-14,0,f,f,f,f,f,f,f
9,52,594,2017-03-14,3,t,f,t,f,f,f,t
10,466,1678,2017-03-14,0,f,f,f,f,f,f,f
11,466,1679,2017-03-14,0,f,f,f,f,f,f,f
12,466,1680,2017-03-14,0,f,f,f,f,f,f,f
13,466,1681,2017-03-14,0,f,f,f,f,f,f,f
14,101,325,2017-03-14,3,t,f,t,f,f,f,t
15,101,326,2017-03-14,1,f,f,t,f,f,f,f
16,101,405,2017-03-14,4,t,t,t,f,f,f,t
17,101,568,2017-03-14,3,t,f,t,f,f,f,t
18,459,1532,2017-03-14,0,f,f,f,f,f,f,f
19,500,1557,2017-03-14,0,f,f,f,f,f,f,f
20,500,1558,2017-03-14,0,f,f,f,f,f,f,f
21,325,832,2017-03-14,0,f,f,f,f,f,f,f
22,325,947,2017-03-14,0,f,f,f,f,f,f,f
23,146,384,2017-03-14,0,f,f,f,f,f,f,f
24,146,385,2017-03-14,1,f,f,t,f,f,f,f
25,146,386,2017-03-14,0,f,f,f,f,f,f,f
26,146,378,2017-03-14,0,f,f,f,f,f,f,f
27,62,155,2017-03-14,0,f,f,f,f,f,f,f
28,526,1686,2017-03-14,0,f,f,f,f,f,f,f
29,526,1687,2017-03-14,0,f,f,f,f,f,f,f
...,...,...,...,...,...,...,...,...,...,...,...
1286113,376,1103,2017-12-09,3,t,f,t,f,f,f,t
1286114,376,1104,2017-12-09,1,f,f,t,f,f,f,f
1286115,376,1105,2017-12-09,4,t,f,t,t,f,f,t
1286116,376,1106,2017-12-09,4,t,f,t,t,f,f,t
1286117,376,1094,2017-12-10,0,f,f,f,f,f,f,f
1286118,376,1095,2017-12-10,2,f,f,t,t,f,f,f
1286119,376,1096,2017-12-10,2,f,f,t,f,f,f,t
1286120,376,1097,2017-12-10,4,t,f,t,t,f,f,t
1286121,376,1098,2017-12-10,0,f,f,f,f,f,f,f
1286122,376,1099,2017-12-10,0,f,f,f,f,f,f,f
1286123,376,1100,2017-12-10,3,t,f,t,f,f,f,t
1286124,376,1101,2017-12-10,3,t,f,t,f,f,f,t
1286125,376,1102,2017-12-10,1,f,f,t,f,f,f,f
1286126,376,1103,2017-12-10,2,f,f,t,f,f,f,t
1286127,376,1104,2017-12-10,1,f,f,t,f,f,f,f
1286128,376,1105,2017-12-10,4,t,f,t,t,f,f,t
1286129,376,1106,2017-12-10,4,t,f,t,t,f,f,t
1286130,376,1094,2017-12-11,0,f,f,f,f,f,f,f
1286131,376,1095,2017-12-11,1,f,f,t,f,f,f,f
1286132,376,1096,2017-12-11,2,f,f,t,f,f,f,t
1286133,376,1097,2017-12-11,4,t,f,t,t,f,f,t
1286134,376,1098,2017-12-11,0,f,f,f,f,f,f,f
1286135,376,1099,2017-12-11,0,f,f,f,f,f,f,f
1286136,376,1100,2017-12-11,3,t,f,t,f,f,f,t
1286137,376,1101,2017-12-11,4,t,f,t,t,f,f,t
1286138,376,1102,2017-12-11,1,f,f,t,f,f,f,f
1286139,376,1103,2017-12-11,2,f,f,t,f,f,f,t
1286140,376,1104,2017-12-11,1,f,f,t,f,f,f,f
1286141,376,1105,2017-12-11,4,t,f,t,t,f,f,t
1286142,376,1106,2017-12-11,4,t,f,t,t,f,f,t

In [11]:
classrooms_merged

,Unnamed: 0,classroom_id,school_id_x,lesson_set_id,inactive,classroom_type,post_id_x,date,picture_file_name,private,...,default_classroom_id,teacher,admin,teach_and_admin,is_teacher,is_admin,child_id_x,current_x,child_id_y,current_y
0,0,2650,855,1281,f,Primary,NaN,NaN,NaN,NaN,...,3636.0,t,f,False,True,False,NaN,NaN,NaN,NaN
1,1,174,48,126,t,Primary,89168.0,2015-09-16,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
2,2,174,48,126,t,Primary,118933.0,2015-10-08,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
3,3,174,48,126,t,Primary,313583.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
4,4,174,48,126,t,Primary,194688.0,2015-12-02,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
5,5,174,48,126,t,Primary,115274.0,2015-10-05,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
6,6,174,48,126,t,Primary,194683.0,2015-12-02,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
7,7,174,48,126,t,Primary,194684.0,2015-12-02,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
8,8,174,48,126,t,Primary,194685.0,2015-12-02,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
9,9,174,48,126,t,Primary,194686.0,2015-12-02,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
10,10,174,48,126,t,Primary,313574.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
11,11,174,48,126,t,Primary,313589.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
12,12,174,48,126,t,Primary,313590.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
13,13,174,48,126,t,Primary,313591.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
14,14,174,48,126,t,Primary,313592.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
15,15,174,48,126,t,Primary,313577.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
16,16,174,48,126,t,Primary,313567.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
17,17,174,48,126,t,Primary,313576.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
18,18,174,48,126,t,Primary,313578.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
19,19,174,48,126,t,Primary,313579.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
20,20,174,48,126,t,Primary,313580.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
21,21,174,48,126,t,Primary,313581.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
22,22,174,48,126,t,Primary,313582.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
23,23,174,48,126,t,Primary,313584.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
24,24,174,48,126,t,Primary,313585.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
25,25,174,48,126,t,Primary,313570.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
26,26,174,48,126,t,Primary,313586.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
27,27,174,48,126,t,Primary,313587.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
28,28,174,48,126,t,Primary,313593.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
29,29,174,48,126,t,Primary,313594.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4585036,4585036,1707,481,852,t,Toddler,2201681.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585037,4585037,1707,481,852,t,Toddler,2201682.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585038,4585038,1707,481,852,t,Toddler,2201683.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585039,4585039,1707,481,852,t,Toddler,2201697.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585040,4585040,1707,481,852,t,Toddler,2201698.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585041,4585041,1707,481,852,t,Toddler,2201699.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585042,4585042,1707,481,852,t,Toddler,2201701.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585043,4585043,1707,481,852,t,Toddler,2201702.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585044,4585044,1707,481,852,t,Toddler,2201703.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585045,4585045,1707,481,852,t,Toddler,2201704.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585046,4585046,1707,481,852,t,Toddler,2201705.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585047,4585047,1707,481,852,t,Toddler,2201700.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585048,4585048,1707,481,852,t,Toddler,2201778.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585049,4585049,1707,481,852,t,Toddler,2201779.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585050,4585050,1707,481,852,t,Toddler,2201780.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585051,4585051,1707,481,852,t,Toddler,2201781.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585052,4585052,1707,481,852,t,Toddler,2201782.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585053,4585053,1707,481,852,t,Toddler,2201783.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585054,4585054,1707,481,852,t,Toddler,2201785.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585055,4585055,1707,481,852,t,Toddler,2201786.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585056,4585056,1707,481,852,t,Toddler,2201787.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585057,4585057,1718,481,852,t,Toddler,NaN,NaN,NaN,NaN,...,1108.0,t,f,False,True,False,NaN,NaN,1.0,1.0
4585058,4585058,1719,481,852,t,Toddler,NaN,NaN,NaN,NaN,...,759.0,t,t,True,True,True,NaN,NaN,1.0,1.0
4585059,4585059,1720,481,852,t,Toddler,NaN,NaN,NaN,NaN,...,NaN,t,t,True,True,True,NaN,NaN,1.0,1.0
4585060,4585060,1721,481,852,t,Toddler,NaN,NaN,NaN,NaN,...,1503.0,t,f,False,True,False,NaN,NaN,1.0,1.0
4585061,4585061,1723,481,852,t,Toddler,NaN,NaN,NaN,NaN,...,927.0,t,t,True,True,True,NaN,NaN,1.0,1.0
4585062,4585062,1724,481,852,t,Toddler,NaN,NaN,NaN,NaN,...,928.0,t,f,False,True,False,NaN,NaN,1.0,1.0
4585063,4585063,1725,481,852,t,Toddler,NaN,NaN,NaN,NaN,...,928.0,t,t,True,True,True,NaN,NaN,1.0,1.0
4585064,4585064,1726,481,852,t,Toddler,NaN,NaN,NaN,NaN,...,708.0,t,f,False,True,False,NaN,NaN,1.0,1.0
4585065,4585065,1727,481,852,t,Toddler,NaN,NaN,NaN,NaN,...,NaN,f,t,False,False,True,NaN,NaN,1.0,1.0

In [15]:
classrooms_merged = classrooms_merged.rename({'school_id_x':'school_id'}, axis='columns')

In [16]:
classrooms_merged

,Unnamed: 0,classroom_id,school_id,lesson_set_id,inactive,classroom_type,post_id_x,date,picture_file_name,private,...,default_classroom_id,teacher,admin,teach_and_admin,is_teacher,is_admin,child_id_x,current_x,child_id_y,current_y
0,0,2650,855,1281,f,Primary,NaN,NaN,NaN,NaN,...,3636.0,t,f,False,True,False,NaN,NaN,NaN,NaN
1,1,174,48,126,t,Primary,89168.0,2015-09-16,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
2,2,174,48,126,t,Primary,118933.0,2015-10-08,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
3,3,174,48,126,t,Primary,313583.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
4,4,174,48,126,t,Primary,194688.0,2015-12-02,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
5,5,174,48,126,t,Primary,115274.0,2015-10-05,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
6,6,174,48,126,t,Primary,194683.0,2015-12-02,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
7,7,174,48,126,t,Primary,194684.0,2015-12-02,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
8,8,174,48,126,t,Primary,194685.0,2015-12-02,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
9,9,174,48,126,t,Primary,194686.0,2015-12-02,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
10,10,174,48,126,t,Primary,313574.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
11,11,174,48,126,t,Primary,313589.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
12,12,174,48,126,t,Primary,313590.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
13,13,174,48,126,t,Primary,313591.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
14,14,174,48,126,t,Primary,313592.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
15,15,174,48,126,t,Primary,313577.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
16,16,174,48,126,t,Primary,313567.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
17,17,174,48,126,t,Primary,313576.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
18,18,174,48,126,t,Primary,313578.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
19,19,174,48,126,t,Primary,313579.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
20,20,174,48,126,t,Primary,313580.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
21,21,174,48,126,t,Primary,313581.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
22,22,174,48,126,t,Primary,313582.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
23,23,174,48,126,t,Primary,313584.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
24,24,174,48,126,t,Primary,313585.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
25,25,174,48,126,t,Primary,313570.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
26,26,174,48,126,t,Primary,313586.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
27,27,174,48,126,t,Primary,313587.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
28,28,174,48,126,t,Primary,313593.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
29,29,174,48,126,t,Primary,313594.0,2016-03-25,NaN,f,...,607.0,t,f,False,True,False,NaN,NaN,28.0,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4585036,4585036,1707,481,852,t,Toddler,2201681.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585037,4585037,1707,481,852,t,Toddler,2201682.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585038,4585038,1707,481,852,t,Toddler,2201683.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585039,4585039,1707,481,852,t,Toddler,2201697.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585040,4585040,1707,481,852,t,Toddler,2201698.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585041,4585041,1707,481,852,t,Toddler,2201699.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585042,4585042,1707,481,852,t,Toddler,2201701.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585043,4585043,1707,481,852,t,Toddler,2201702.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585044,4585044,1707,481,852,t,Toddler,2201703.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585045,4585045,1707,481,852,t,Toddler,2201704.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585046,4585046,1707,481,852,t,Toddler,2201705.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585047,4585047,1707,481,852,t,Toddler,2201700.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585048,4585048,1707,481,852,t,Toddler,2201778.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585049,4585049,1707,481,852,t,Toddler,2201779.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585050,4585050,1707,481,852,t,Toddler,2201780.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585051,4585051,1707,481,852,t,Toddler,2201781.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585052,4585052,1707,481,852,t,Toddler,2201782.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585053,4585053,1707,481,852,t,Toddler,2201783.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585054,4585054,1707,481,852,t,Toddler,2201785.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585055,4585055,1707,481,852,t,Toddler,2201786.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585056,4585056,1707,481,852,t,Toddler,2201787.0,2017-08-08,NaN,t,...,272.0,t,f,False,True,False,NaN,NaN,3.0,3.0
4585057,4585057,1718,481,852,t,Toddler,NaN,NaN,NaN,NaN,...,1108.0,t,f,False,True,False,NaN,NaN,1.0,1.0
4585058,4585058,1719,481,852,t,Toddler,NaN,NaN,NaN,NaN,...,759.0,t,t,True,True,True,NaN,NaN,1.0,1.0
4585059,4585059,1720,481,852,t,Toddler,NaN,NaN,NaN,NaN,...,NaN,t,t,True,True,True,NaN,NaN,1.0,1.0
4585060,4585060,1721,481,852,t,Toddler,NaN,NaN,NaN,NaN,...,1503.0,t,f,False,True,False,NaN,NaN,1.0,1.0
4585061,4585061,1723,481,852,t,Toddler,NaN,NaN,NaN,NaN,...,927.0,t,t,True,True,True,NaN,NaN,1.0,1.0
4585062,4585062,1724,481,852,t,Toddler,NaN,NaN,NaN,NaN,...,928.0,t,f,False,True,False,NaN,NaN,1.0,1.0
4585063,4585063,1725,481,852,t,Toddler,NaN,NaN,NaN,NaN,...,928.0,t,t,True,True,True,NaN,NaN,1.0,1.0
4585064,4585064,1726,481,852,t,Toddler,NaN,NaN,NaN,NaN,...,708.0,t,f,False,True,False,NaN,NaN,1.0,1.0
4585065,4585065,1727,481,852,t,Toddler,NaN,NaN,NaN,NaN,...,NaN,f,t,False,False,True,NaN,NaN,1.0,1.0

In [17]:
hearts_merged = classrooms_merged.merge(hearts, how='left', left_on=['school_id','date'], right_on=['school_id','date'])